In [4]:
import vnquant.DataLoader as web

In [13]:
loader = web.DataLoader('ACB', '2015-01-01','2022-01-01')
data = loader.download()
data.head()

/usr/local/lib/python3.9/site-packages/vnquant-0.0.2-py3.9.egg/vnquant/DataLoader.py:251: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  stock_data['change_perc1'], stock_data['change_perc2'] = stock_data['change_perc'].apply(utils.split_change_col).str
2022-01-09 00:16:38,295 : INFO : data ACB from 2015-01-01 to 2022-01-01 have already cloned!

Attributes  high   low  open close adjust  volume
Symbols      ACB   ACB   ACB   ACB    ACB     ACB
date
2015-01-05  15.4  15.2  15.4  15.3   5.49   55890
2015-01-06  15.5  15.1  15.2  15.5   5.56   89802
2015-01-07  16.0  15.5  15.5  15.7   5.63  232912
2015-01-08  15.8  15.6  15.7  15.8   5.67   14920
2015-01-09  16.3  15.6  15.8  15.9   5.70  693623

In [16]:
data.columns = ['high', 'low', 'open', 'close', 'adjust', 'volume']

In [17]:
data.head()

            high   low  open  close  adjust  volume
date
2015-01-05  15.4  15.2  15.4   15.3    5.49   55890
2015-01-06  15.5  15.1  15.2   15.5    5.56   89802
2015-01-07  16.0  15.5  15.5   15.7    5.63  232912
2015-01-08  15.8  15.6  15.7   15.8    5.67   14920
2015-01-09  16.3  15.6  15.8   15.9    5.70  693623

In [20]:
(data['open'].max() - data['open'].min())/data['open'].max()

0.703125

In [21]:
70/7

10.0